/* Styles CSS file */

body {
background: rgb(172, 212, 212);
}

/* .card {
    width:auto;
    background: gray;
    margin: auto;
    padding: 8px; 
}

.title {
    background: red;
    margin-bottom: 16px;
    font-size: 12px;
    padding: 8px;

}

.content {
    
} */

/* Style with external method*/
head {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: auto;
    background-color: yellow;
    color:blue;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    background-color: rgb(16, 1, 1);
    color:rgb(255, 255, 0);
    display: block;
    border: 16px;
    border-color: blueviolet;
    padding: 8px;
    margin: auto;
    text-align: center;
    width: 500px;

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    background-color: beige;
    color:purple;
    display: block;
    border: 16px;
    border-color: rgb(89, 226, 43);
    padding: 8px;
    margin: auto;
    text-align: center;
    width: 500px;

}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    background-color: white;
    color: black;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: azure;
    color: brown;
}